*{
    margin: 0;
    padding: 0
}
#main {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

#header {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 13;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px; 
}


a{
    text-decoration: none;
    color: black;
}

#button-container ul{
    list-style-type: none;
    display: flex;
}

#button-container ul li{
    padding: 0 20px;
}


/* #container{
    width: 100vw;
} */

#main-container{
    grid-row-start: 2;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 13;
    background-image: url(/images/background.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #a7f50b;
    /* border: 1px solid black; */
    align-items: center;
}

#slogan{
    text-align: center;
    margin: 30px 0;
    color: #ffffff;
}

#recherche{
    display: flex;
    justify-content: center;
    /* height: 150px; */
    width: 100vw;
}

.div-cont{
    /* grid-row-start: 2;
    grid-row-end: 12; */
    /* grid-column-start: 1;
    grid-column-end: 5; */
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 300px;
    padding: 20px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #ffffff;
    justify-content: space-between;
    margin: 0 70px;
}

.champ{
    height: 40px;
    width: 100%;
    /* padding-left: 10px; */
    border-radius: 5px;
    border: none;
    background-color: #e8e8e8;
    border-bottom: 1px solid rgb(93, 93, 93);
}



#date{
    margin: 30px 0;
}


#result {
    /* grid-row-start: 2;
    grid-row-end: 12;
    grid-column-start: 5;
    grid-column-end: 13; */
    border: 1px solid black;
    /* background-color: #0f7dea; */
  }

#btn-search{
    background-color: #047e30;
    color: #ffffff;
}



#container {

}

#Txt { 

}

#Search {

}

#Result {

}

#book-result {

}
#bokk-footer{

}
#bulle {

}
#cart-result{

}

#cart-footer{

}